@media screen and (max-width: 425px) {
  /* Begining of Navbar */
  .nav-container {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .nav-logo-container {
    width: 100%;
    justify-content: center;
  }
  .nav-text-container {
    width: 100%;
    flex-direction: column;
  }
  .nav-text-container a {
    margin-top: 25px;
  }
  /* Ending of Navbar */
}
